{mode, max}.

{duration, 15}.

{concurrent, 1}.

{code_paths, ["ebin"]}.

{source_dir, "test"}.

{driver, basho_bench_driver_eldb}.

{key_generator, {uniform_int, 10000}}.

{value_generator, {fixed_bin, 10000}}.

{operations, [{put, 8}, {get, 1}]}.

{eldb_work_dir, "/tmp/eldb.bb"}.

{eldb_clear_work_dir, false}.

