{mode, max}.

{duration, infinity}.

{concurrent, 1}.

{code_paths, ["ebin"]}.

{source_dir, "test"}.

{driver, basho_bench_driver_eldb}.

{key_generator, {to_binstr, "~w", {truncated_pareto_int, 10000}}}.

{value_generator, {fixed_bin, 10000}}.

{operations, [{get, 1}]}.

{eldb_work_dir, "/tmp/eldb.bb"}.

{eldb_clear_work_dir, false}.

