%%-*- mode: erlang -*-
{minimum_otp_vsn, "22.0"}.

{eunit_opts, [verbose]}.
{so_name, "eleveldb.so"}.

{plugins, [{eqc_rebar, {git, "https://github.com/Quviq/eqc-rebar", {branch, "master"}}}, pc]}.

{provider_hooks,
 [
  {post,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
    deprecated_function_calls, deprecated_functions]}.

{port_sources, ["c_src/*.cc"]}.

{erl_opts, [warnings_as_errors, debug_info]}.

{port_env, [
         %% Make sure to set -fPIC when compiling leveldb
             {"CFLAGS", "$CFLAGS -Wall -O3 -fPIC"},
             {"CXXFLAGS", "$CXXFLAGS -Wall -O3 -fPIC"},
             {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -Wall -I c_src/leveldb/include -I c_src/leveldb -I c_src/system/include"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/leveldb/libleveldb.a c_src/system/lib/libsnappy.a -lstdc++"}
             ]}.

{pre_hooks, [{'get-deps', "make -C c_src get-deps"},
             {compile, "make -C c_src compile"}]}.

{post_hooks, [{clean, "make -C c_src clean"}]}.
