%%-*- mode: erlang -*-
{eunit_opts, [verbose]}.
{so_name, "eleveldb.so"}.

{xref_checks, [undefined_function_calls]}.

{port_sources, ["c_src/*.cc"]}.

{erl_opts, [warnings_as_errors, debug_info]}.

{deps, [
        {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish.git", {tag, "2.0.5"}}}
       ]}.

{port_env, [
         %% Make sure to set -fPIC when compiling leveldb
             {"CFLAGS", "$CFLAGS -Wall -O3 -fPIC"},
             {"CXXFLAGS", "$CXXFLAGS -Wall -O3 -fPIC"},
             {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -Wall -I c_src/leveldb/include"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/leveldb/libleveldb.a c_src/system/lib/libsnappy.a -lstdc++"}
             ]}.

{pre_hooks, [{'get-deps', "c_src/build_deps.sh get-deps"},
             {compile, "c_src/build_deps.sh"}]}.

{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
