%%-*- mode: erlang -*-
{eunit_opts, [verbose]}.
{so_name, "eleveldb.so"}.

{xref_checks, [undefined_function_calls]}.

{port_sources, ["c_src/*.cc"]}.

{erl_opts, [warnings_as_errors, debug_info]}.

{deps, [
        {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish.git", {tag, "2.0.1"}}}
       ]}.

{pre_hooks, [{'get-deps', "c_src/build_deps.sh get-deps"},
             {compile, "c_src/build_deps.sh"},
             {compile, "make -C c_src"}]}.

{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
